---
import { Icon } from "astro-icon/components";

import {
  ActionButton,
  Skill,
  Section,
  Job,
  Contact,
  Link,
} from "../components";
import { cv } from "../data/cv";
import { mdLinksToHtml } from "../lib/markdown";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!--<script data-id="101445880" src="https://clicky.alxwrd.co.uk/e58b194da9.js"
    ></script>
    <script>
      (function () {
        const proxied = clicky.inject;

        clicky.inject = function (src, type) {
          if (src.startsWith("/4cd02f0442")) {
            return proxied(`https://clicky.alxwrd.co.uk${src}`, type);
          }

          return proxied(src, type);
        };
      })();
    </script>-->
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />

    <meta name="author" content={cv.name} />
    <meta name="description" content={cv.description} />
    <meta name="keywords" content={cv.keywords} />

    <meta property="og:title" content={`${cv.name}'s CV`} />
    <meta property="og:url" content="https://cv.alxwrd.co.uk/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={cv.description} />

    <meta property="og:image:url" content="/opengraph.png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />

    <title>{cv.name}</title>

    <script>
      document.getElementById("print-button")?.addEventListener("click", () => {
        window.print();
      });
    </script>
  </head>
  <body
    class="bg-accent-50 print:bg-transparent my-4 print:my-0 font-serif selection:bg-fuchsia-300"
  >
    <main
      id="main"
      class="lg:w-[52rem] bg-white mx-auto md:px-8 lg:px-16 print:px-0 py-2 sm:py-8 print:py-0 rounded shadow-lg shadow-accent-800 print:shadow-none"
    >
      <div
        class="flex lg:flex-col justify-center print:hidden lg:float-right lg:-mx-10 lg:-my-6"
      >
        <ActionButton id="print-button" icon="fa-solid:print" />
        <ActionButton
          icon="fa-solid:file-pdf"
          href="https://github.com/alxwrd/curriculum-vitae/releases/download/latest/AlexWard-CV.pdf"
        />
        <ActionButton icon="fa-solid:file-alt" href="/llms.txt" />
      </div>
      <h2
        class="text-accent-600 text-sm tracking-[.75em] text-center py-2 uppercase"
      >
        {cv.title}
      </h2>
      <h1 class="font-['Lobster'] text-7xl text-center py-4">{cv.name}</h1>
      <div class="flex flex-col">
        {
          cv.contact.map((contact) => (
            <Contact icon={contact.icon} href={contact.href}>
              {contact.label}
            </Contact>
          ))
        }
      </div>
      <Section>
        <div class="grid grid-cols-1 print:grid-cols-3 sm:grid-cols-3 gap-2">
          {
            cv.skills.map((skill) => (
              <Skill icon={skill.icon} examples={skill.examples}>
                {skill.name}
              </Skill>
            ))
          }
        </div>
      </Section>
      <Section title="Experience">
        {
          cv.jobs.map((job) => (
            <Job
              title={job.title}
              company={job.company}
              from={new Date(job.from)}
              to={job.to ? new Date(job.to) : undefined}
            >
              <Fragment slot="worked-with">
                {job.skills.map((skill) => (
                  <Skill icon={skill.icon} examples={skill.examples}>
                    {skill.name}
                  </Skill>
                ))}
              </Fragment>
              {job.achievements.map((achievement) => (
                <Fragment>
                  <li set:html={mdLinksToHtml(achievement.text)} />
                  {achievement.subItems?.map((sub) => (
                    <li class="ml-6">{sub}</li>
                  ))}
                </Fragment>
              ))}
            </Job>
          ))
        }
      </Section>
      <Section title="Open Source">
        <div class="grid grid-cols-2">
          {
            cv.openSource.map((project) => (
              <div class="p-2">
                <Icon name="fa-brands:github" class="inline" />
                <Link underline href={project.href}>
                  {project.name}
                </Link>
                <span class="italic text-sm text-gray-500 mx-8">
                  {project.role}
                </span>
                <p class="text-sm my-2">{project.description}</p>
              </div>
            ))
          }
        </div>
      </Section>
    </main>
  </body>
</html>
